<div class="dayContainer">
	<h1 align="middle">{{name}}</h1>
<br>
<div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
  <a href="#/abc">
    <div class="tileblock ttilebrief">
      <p class="title-job">{{day1Day | limitTo:15}}</p>
      <br><img align="middle" ng-src="{{day1icon}}">
      <br>
      <div class="text-desc">&nbsp;&nbsp;{{ day1.temp.max}}&deg;C/{{ day1.temp.min}}&deg;C</div>
  </a>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
  <a href="#/abc">
    <div class="tileblock ttilebrief">
      <p class="title-job">{{day2Day | limitTo:15}}</p>
      <br><img align="middle" ng-src="{{day2icon}}">
      <br>
      <div class="text-desc">&nbsp;&nbsp;{{ day2.temp.max}}&deg;C/{{ day2.temp.min}}&deg;C</div>
  </a>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
  <a href="#/abc">
    <div class="tileblock ttilebrief">
      <p class="title-job">{{day3Day | limitTo:15}}</p>
      <br><img align="middle" ng-src="{{day3icon}}">
      <br>
      <div class="text-desc">&nbsp;&nbsp;{{ day3.temp.max}}&deg;C/{{ day3.temp.min}}&deg;C</div>
  </a>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
  <a href="#/abc">
    <div class="tileblock ttilebrief">
      <p class="title-job">{{day4Day | limitTo:15}}</p>
      <br><img align="middle" ng-src="{{day4icon}}">
      <br>
      <div class="text-desc">&nbsp;&nbsp;{{ day4.temp.max}}&deg;C/{{ day4.temp.min}}&deg;C</div>
  </a>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
</div>
<div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
  <a href="#/abc">
    <div class="tileblock ttilebrief">
      <p class="title-job">{{day5Day | limitTo:15}}</p>
      <br><img align="middle" ng-src="{{day5icon}}">
      <br>
      <div class="text-desc">&nbsp;&nbsp;{{ day5.temp.max}}&deg;C/{{ day5.temp.min}}&deg;C</div>
  </a>
  </div>
</div>
</div>